---
---

@import "{{ site.theme }}";

ol { list-style: none; }

.logos_header {
  text-align: center;
}

td.game_date, td.game_time_et, td.logos, td.away_team, td.home_team {
  border: none;
  vertical-align: middle;
  white-space: nowrap;
  padding: 0;
}

td.game_date {
  padding-left: 10px;
}

td.game_time_et {
  text-align: right;
  padding-right: 10px;
}

td.logos {
  padding-right: 10px;
}

td.away_team, td.home_team, th.away_team_header, th.home_team_header {
  display: none; /* that's right! not displayed by default */
}

@media only screen and (min-width: 480px)  {
  td.away_team, td.home_team, th.away_team_header, th.home_team_header {
  text-align: center;
  display: table-cell; /* only display these if we're spoiled for space */
  }
}

.game_date {
    color: #f2f2f2; /* section background color */
}

.game_date.g1 {
    color: inherit; /* only the first row on each day shows the day */
}

.game_time_et {
    color: #f2f2f2; /* section background color */
}

.game_time_et.g1 {
    color: inherit; /* only the first row on each day shows the day */
}

td.logos > img {
  width: 40px;
  vertical-align: middle;
  background: transparent;
  box-shadow: none;
  margin:  0;
  border:  0;
  padding: 0;
}